.full-panel{
	margin-top: 100px;
}

.fa-pencil-square-o{
	font-size: 20px;
	color: darkgreen;
	cursor: pointer;
}

.fa-trash{
	font-size: 20px;
	color: darkred;
	cursor: pointer;
}

.logout{
	padding: 5px 20px;
    border: 1px solid #eebc24;
    background: rgba(228, 228, 228, 0);
    color: white;
    border-radius: 7px;
	font-family: 'Montserrat';
}

/* modals */

.reservation-modal {
	
	padding: 20px;
}

.reservation-modal > .close{	
	color: red;
}

#res-status{
	padding: 4px;
}

.update-btn {
	 border: none;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    background-color: #333;
	
}

.close-btn{
	border: none;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    background-color: #ec5353;
}

.add-btn{
	border: none;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    background-color: #55ab46;
    margin: 0px 0px 27px 0px;
	
}

.title_ap{   
    color: #eebc24;
    font-size: 18px;
	font-family: 'Montserrat';
}

.admin-tabs a{	
	color: black;
    font-family: 'Montserrat';
    font-size: 16px;
}
/* admin login */

.admin_body {
    background:url('../images/bg.jpg');
    position: relative;
	 width: 100%;
    height: 100%;
	background-size: cover;
	overflow: hidden;
}


.layer {
    background-color: rgba(88, 88, 88, 0.28);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#login_form{
      background-color: rgba(214, 214, 214, 0.42);
    position: relative;
    margin-top: 50%;
    left: 200%;
    padding: 8% 9%;
    border: 1px solid black;
    border-radius: 42px;
}

#login_form input , button{
	margin: 8px 0;
	padding: 20px;
}

#login_btn{
	    padding: 10px 24px;
}

.title:hover ,  .title_ap:hover {
	color: #eebc24;
} 


#reports_table_wrapper{
	padding-top: 40px;
}



/*page load */

	.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loading.gif) center no-repeat #fff;
}
	